.header {
    margin: 0;
}

.header__inner{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1230px;
    text-align: center;
}

.header__inner-arrangement{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
}
.header__item-logo {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 30px;
    color: #634B42;
}

.header__button{
    position: absolute;
    margin-left: auto;
}