
.contact__header{
    max-width: 1230px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.contact__header-span{
    font-size: 30px;
    color: #634B42;
}
.contact-inner{
    width: 80%;
    margin: 0 auto;
}
.contact-form__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-form__item{
    width: 20%;

}
.contact-form__item-p{
    color: #634B42;
}
.required-red{
    color: red;
}
.contact-form__input{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 0;
    padding-right: 50px;
}
.input__name-first,.input__name-last{
    padding: 5px 20px;
    width: 50%;
    line-height: 50%;
    background-color: #e8e8e8;
    color: #634B42;
    border: none;
}
.input__name-last{
    margin-right: 50px;
}

.contact-form__input-gender {
    width: 70%;
    margin: 0;
    text-align: left;
}
.input__gender{
    width: 24px;
    height: 24px;
    border-radius: 50px;
    box-shadow: 0 0 0 0 transparent;
    color: #634B42;
}
.label-color{
    font-size: 24px;
    color: #634B42;
}
.input__tel{
    margin: 0;
    padding: 5px 10px;
    background-color: #e8e8e8;
    border: none;
}
.input__email,
.input__address,
.input__building,
.inquiryKinds
{
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background-color: #e8e8e8;
    border: none;
}
.inquiry-item{
    width: 100%;
    margin: 0 auto;
    padding: auto;
    background-color: #e8e8e8;
    border: none;
}
.confirmation__button{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.confirmation__button-submit{
    padding: 5px 15px;
    color: #FFF;
    background-color: #634B42;
}
.form__error{
    color: red;
}