.header-button__login

.register-page {
    height: 100%;
    background-color: antiquewhite
}
.register-page__header {
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}
.register-page__header-item {
    font-size: 40px;
    color: #634B42;
}

.register__inner {
    margin: 20px 60px;

}